*.pyc
.coverage
*.mysql
*.vscode
*.sublime-project
*.sublime-workspace
*.hot-update.js
*.hot-update.json
*.log
project/settings/locals.py
node_modules
./static/
media
media_from_server
mysqldb/
run_mysql.sh
.idea
geodb
venv
cache
.eslintrc.js
local.py
static_override/bundles
.env
static
webpack-stats.json
